.section {
  padding: 100px 0; /* Add more spacing between sections */
  text-align: center;
  background: #fff; /* White background for better readability */
}

.aboutSection {
  padding: 20px;
}

.profileImage {
  width: 150px !important;
  height: 150px !important;
  margin: 0 auto 20px auto !important; /* Add margin below the image */
}

.aboutMeTitle {
  font-weight: bold !important;
  margin-bottom: 20px;
  color: #000 !important; /* Black color for title */
}

.aboutMe {
  margin-top: 16px !important;
  color: #000 !important; /* Black color for text */
}
