.section {
  padding: 100px 0; /* Add more spacing between sections */
  text-align: center;
  background: #fff; /* White background for better readability */
}

.paper {
  padding: 20px;
  text-align: center;
}

.contactTitle {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000 !important; /* Black color for title */
}

.form {
  margin-top: 20px;
}

.form div {
  margin-bottom: 20px;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
