.menuButton {
  margin-right: 20px !important;
}

.title {
  flex-grow: 1 !important;
  color: #fff !important; /* White text color */
}

.appBar {
  background: linear-gradient(
    45deg,
    #000000 30%,
    #ffffff 90%
  ) !important; /* Gradient background */
}

.navButton {
  color: #fff !important; /* White text color */
}

/* Media Queries for smaller devices */
@media (max-width: 768px) {
  .menuButton {
    margin-right: 10px !important;
  }

  .title {
    font-size: 1.2em !important;
  }

  .navButton {
    font-size: 0.8em !important;
  }
}
