@import "./styles/variables.css";

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family); /* Use a clean, modern font */
  scroll-behavior: smooth; /* Ensure smooth scrolling */
  background-color: #fff; /* White background for the entire app */
  color: #000; /* Black text color */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  padding: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}

p {
  margin: 8px 0;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.section {
  padding: 80px 0; /* Add spacing between sections */
  width: 100%; /* Ensure full width */
}

.socialIcons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

.socialIcons .MuiIconButton-root {
  color: #fff;
}

.chatBubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 2000; /* Ensure this is higher than the footer */
}

.chatBubble .MuiSvgIcon-root {
  color: #fff;
}

.contactContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 500px; /* Make the form wider */
  padding: 20px;
  background: rgba(255, 255, 255, 0.95); /* Slightly transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for distinction */
  border-radius: 10px 10px 0 0; /* Rounded top corners */
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 3000;
}

.contactContainer.open {
  transform: translateY(0);
}

.contactPaper {
  padding: 20px;
  text-align: center;
}

.contactHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.contactTitle {
  font-weight: bold;
  color: #000 !important; /* Black color for title */
}

.successMessage {
  color: green;
  margin-bottom: 20px;
}

.infoMessage {
  color: #555;
  margin-bottom: 20px;
}

.contactForm {
  margin-top: 20px;
}

.submitButton {
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  width: 100%;
}
