@import './styles/variables.css';

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family); /* Use a clean, modern font */
  scroll-behavior: smooth; /* Ensure smooth scrolling */
  background-color: var(--secondary-color); /* Light grey background for the entire app */
  color: var(--primary-color); /* Dark grey text color */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
}

p {
  margin: 8px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.mainContent {
  padding-top: 64px; /* Adjust based on the height of your navbar */
  padding-bottom: 80px; /* Ensure there's space for the footer */
}

/* Fade-in and fade-out animations */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.section {
  padding: 80px 0; /* Add spacing between sections */
  width: 100%; /* Ensure full width */
}